
<style>
tr:nth-child(even) {background: #ECF6F8 }
tr:nth-child(odd) {background: white}

input[type="number"] {
        background: transparent;
    border: none;
    border-bottom: solid 2px #97D0E1;
}
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0; 
}
</style>

<div class="row">
	<div class="col-sm-12">
		<div class="panel widget PanelCustom">
			<div class="panel-body">
				<h3 class="mt0 TextHeader">
					<span style="border-bottom: solid 2px #0A7393">Con</span>figuration
				</h3>
				<hr></hr>
				<fieldset class="bodyPanelmargin" style="padding-left: 20px;">
					<div class="form-group">
						<label style="margin-right: 15px;"><b>Select Parking Zone</b></label> 
						<input type="text" id="my" placeholder="Enter Number" ng-model="NoOfZones"  />
						<button type="button" class="btn btn-Custom btn-lg" ng-click="CreateTable()" >Create</button>
					</div>
				</fieldset>
				<div ng-show="showTable">
				<div style="height:300px;overflow:auto;" >
				<table class="table  table-hover flexcroll" >
					<tr style="font-weight: bold">
						<td style="width: 20%">Parking Zone</td>
						<td style="width: 20%">Longitude</td>
						<td style="width: 20%">Lattitude</td>
						<td style="width: 40%"></td>
					</tr>
					<tr ng-repeat="zone in tempMapper | orderBy:'zoneId'">
						<td>
							<span  e-name="zoneId" e-form="rowform" e-required="">Parking Zone {{zone.zoneId|FormatNumber}}</span>
						</td>
						<td>
							<span editable-number="zone.lat" e-name="lat" e-form="rowform" e-required="">{{ zone.lat }}</span>
						</td>
						<td>
							<span editable-number="zone.lng" e-name="lng" e-form="rowform"  e-required="">{{ zone.lng }}</span>
						</td>
						<td style="white-space: nowrap">
							<!-- form-->
							<form editable-form="" name="rowform" onbeforesave="SaveUser(zone)" ng-show="rowform.$visible" shown="inserted == user" class="form-buttons form-inline">
								 <button type="submit" ng-disabled="rowform.$waiting"
									title="Save" class="btn btn-sm btn-info">
									<em class="fa fa-save"></em>
								</button>
								<button type="button" ng-disabled="rowform.$waiting"
									ng-click="rowform.$cancel()" title="Cancel"
									class="btn btn-sm btn-default">
									<em class="fa fa-times"></em>
								</button> 
								
								<!-- <img type="submit" ng-disabled="rowform.$waiting" title="Save" src="app/img/icon_edit.png"/>
								<img ng-disabled="rowform.$waiting" ng-click="rowform.$cancel()"  title="Delete" src="app/img/icon_delete.png"/> -->
								
							</form>
							<div ng-show="!rowform.$visible" class="buttons">
								 <button ng-click="rowform.$show()" title="Edit" class="btn btn-sm btn-info">
									<em class="fa fa-pencil"></em>
								</button>
								<button ng-click="removeUser($index)" title="Delete" class="btn btn-sm btn-danger">
									<em class="fa fa-trash"></em>
								</button>
								<!-- <img ng-click="rowform.$show()" title="Edit" src="app/img/icon_edit.png"/>
								<img ng-click="removeUser($index)" title="Delete" src="app/img/icon_delete.png"/> -->
							</div>
						</td>
					</tr>
				</table>
	</div>
	<br>
	<div style="float: right;">
	<button type="button" class="btn btn-Custom btn-lg" ng-click="Apply()" >Apply</button>
	</div>
	</div>
			</div>
		</div>

	</div>

</div>



