<style>
hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #DFDEDE;
    margin: 1em 0;
    padding: 0; 
}

.popup1 {
	margin-left: 36%;
    margin-top: 5%;
    width: 28%;
	
	}
	.contPopup {
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background: rgba(0, 0, 0, 0.2);
		
	}
	
	
.tabledata tr.border_bottom td {
  border-bottom:1pt solid #D1D1D1;
  padding-bottom: 10px;
  padding-top: 10px;
  padding-left: 10px;
  padding-right: 10px;
}

.tabledata {
color: black;
font-size: 15px;
width: 100%;
 } 
 
.closetab {
  float: right;
   font-size: 40px;
  font-weight: 100;
  line-height: 1;
  color: #6DB5F2;
  text-shadow: 0 1px 0 #ffffff;
  opacity: 0.2;
  filter: alpha(opacity=20);
}
.closetab:hover,
.closetab:focus {
  color: #6DB5F2;
  text-decoration: none;
  cursor: pointer;
  opacity: 0.5;
  filter: alpha(opacity=50);
}
button.closetab {
  padding: 0;
  cursor: pointer;
  background: transparent;
  border: 0;
  -webkit-appearance: none;
}
.disabledbutton {
    pointer-events: none;
    opacity: 0.4;
}
.visibilityMyClass {
       visibility: hidden
    }

@import url(http://fonts.googleapis.com/css?family=Josefin+Sans);
.body {  }
.loader { font-weight: bold; width: 80%; margin: 0 auto; height: 20px; font-family: 'Josefin Sans', sans-serif; }
.title { color: #CC0066; font-size: 20px; margin-bottom: 5px }
.load { width: 100%; height: 5px; background-color: #F0F0F0; position: relative; overflow: hidden; }
.bar { width: 15%; height: 5px; background-color: #CC0066; position: absolute;
} 


.maxwidthheight{
    width: 100%;
    height: 100%;
}

.boldcolor{
color: black;
font-weight: bold;

}
/* centered columns styles */
.row-centered {
    text-align:center;
}
.col-centered {
    display:inline-block;
    float:none;
    /* reset the text-align */
    text-align:left;
    /* inline-block space fix */
    margin-right:-4px;
}


/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 100000; /* Sit on top */
    padding-top: 93px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow:hidden; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
	max-width:450px;
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    width: 80%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s
}

/* Add Animation */
@-webkit-keyframes animatetop {
    from {top:-300px; opacity:0} 
    to {top:0; opacity:1}
}

@keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}

.closetab {
  float: right;
  font-size: 40px;
  font-weight: 100;
  line-height: 1;
  color: #2E6392;
  text-shadow: 0 1px 0 #ffffff;
  opacity: 0.2;
  filter: alpha(opacity=20);
}
.closetab:hover,
.closetab:focus {
  color: #2E6392;
  text-decoration: none;
  cursor: pointer;
  opacity: 0.5;
  filter: alpha(opacity=50);
}
button.closetab {
  padding: 0;
  cursor: pointer;
  background: transparent;
  border: 0;
  -webkit-appearance: none;
}

.modal-header {
    padding: 2px 16px;
    background-color: #347AB8;
    color: white;
    font-family: inherit;
}

.modal-body {padding: 2px 16px;}

.modal-footer {
    padding: 2px 16px;
    background-color: #5cb85c;
    color: white;
}

</style>

<center>
<!-- col-md-4 col-sm-4 -->

<div class="row row-centered" style="margin-top: 38px;" >
    <div class="col-sm-6 col-md-4 col-centered "     ng-repeat="Device in Devices"  style="padding-bottom: 70px; min-width: 410px;" >
      <!-- START panel-->
      <div id="panelDemo10" class="panel panel-info animated flipInY" ng-attr-id="{{Device.Name}}"  >
         <div class="panel-heading"><b style="font-size: 22px;">{{Device.Name}}</b><button  type="button" class="closetab" style="position: relative;padding-right: 8px;  margin-top: -8px;"  data-dismiss="modal">&times;</button></div>
         <div class="panel-body" style="    height: 485px; " >
         
         
         <center>
         <table>
         
         <tr>
         <td style="width: 50%;">
         <center>
         <p style="color: #337AB7;font-size: 18px; font-weight: 900;"><B>Temperature Guage</B></p>
         <hr style="width: 80%;">
            <div  style="width:180px; height:130px" ng-attr-id="{{Device.Name+'tempgauge'}}" ></div>
          </center>
          </td>
          <td style="width: 50%;">
          <center>
            <p style="color: #337AB7;font-size: 18px; font-weight: 900;">Water usage Guage</p>
            <hr style="    width: 80%;">
           <!-- style="width:280px; height:200px"  -->
             <div style="width:180px; height:130px" ng-attr-id="{{Device.Name+'watergauge'}}" ></div>
             </center>
             <td>
             </tr>
             </table>
             </center>
             <!--  -->
             
            <br>
            
        <center>
         <table>
         <tr>
         <td><center><img  src="app/img/Washing-Machine.jpg" style="width: 75%;"></center></td>
         <td><table class="table" style="font-weight: bolder; font-size: 18px">
                  <thead>
                     <tr>
                      
                        <th style="color: black;"><b>Name</b></th>
                        <th style="color: #656565">{{Device.Data.name}}</th>
                        
                     </tr>
                  </thead> 
                  <tbody style="color: #656565">
                    
                      <tr>
                       
                        <td class="boldcolor">Model</td>
                        <td>{{Device.Data.Model}}</td>
                     </tr>
                      <tr>
                       
                        
                        <td class="boldcolor">Firmware</td>
                        <td >{{Device.Data.firmware}}</td>
                    
                     </tr>
                      <tr>
                       
                        <td class="boldcolor">Mode</td>
                        <td>Low flow washer mode</td>
                     </tr>
                  </tbody>
               </table></td>
         </tr>
         
         </table>
        
  
        
      </center>
            
            
            <br>
            <br>
            <br>
         </div>
         <div class="panel-footer" style="background-color: #EDECEC; font-size: 12px;"><!-- Washing machine data <b style="color: black;">[40]</b> <span style="cursor: pointer; " ng-click="selectWashingmachine($index)" ><em class="fa fa-ellipsis-v  fa-2x " style=" float: right; color: #5D5D5D"></em></span> --></div>
      </div>
      <!-- END panel Device.DisplayUpgrading-->
      <div   ng-class="{'visibilityMyClass': !Device.DisplayUpgrading}" style=" margin-top: -80px; opacity: 1;">
            <!--  <font style="font-size: 20px;">Upgrading</font><img src="app/img/ellipsis.gif"/> -->
             
             	<div class="loader">
				 <center> <div class="title" style="opacity: 1; z-index: 4">Upgrading...</div></center>
				  <div class="load">
				    <div class="bar"></div>
				  </div>
				</div>
             </div>
   </div>
 
</div>
</center>

	
  <!-- The Modal -->
<div id="myModal" class="modal">

  <!-- Modal content -->
  <div class="modal-content">
    <div class="modal-header">
      <button  type="button" class="closetab" ng-click="closepopup()" style="position: relative;padding: 10px;margin-top: -8px;">&times;</button>
      <h2 style="margin-top: 10px;font-size: 22px;font-weight: 100; ">Modal Header</h2>
    </div>
    <div class="modal-body">
      <p>Some text in the Modal Body</p>
      <p>Some other text...</p>
    </div>
   <!--  <div class="modal-footer">
      <h3>Modal Footer</h3>
    </div> -->
  </div>

</div>


